body {
  background-color: rgba(71,249,249,.2);
}

h1, h3 {
  color: rgba(28,97,97,.9);
  font-family: 'Volkhov', serif;
  /* text-align: center; */
}

h1 {
  font-size: 80px;
}

.description {
  width: 600px;
}

.left {
  width: 600px;
  float: left;
  margin-top: 23px;
}

.right {
  width: 600px;
  float: left;
  margin-left: 30px;
}
